.DialogContent {
    background-color: white;
    border-radius: 20px;
    box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    max-width: 450px;
    max-height: 85vh;
    padding: 25px;
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
  
  .DialogContent:focus {
    outline: none;
  }
  
  
  .frameContainer{
      width:12rem;
      height: calc(100vh * 0.58);
      max-height:70vh;
      border:8px solid black;
      border-radius: 1.5rem;
      margin:auto;
      position: relative;
      overflow:hidden;
  }



.contentShow{
    animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes contentShow {
    from {
      opacity: 0;
      transform: translate(-50%, -48%) scale(0.7);
    }
    to {
      opacity: 1;
      transform: translate(-50%, -50%) scale(1);
    }
  }
  
  
  
  @media screen and (min-width: 768px) and (max-width: 820px) {
       .frameContainer{
           width:14rem;
           height:40vh;
       }
  }
  
  @media screen and (min-width: 194px) and (max-width: 240px) {
       .frameContainer{
           width:12rem;
           height:40vh;
       }
  }
  
  
  @media screen and (min-width: 412px) and (max-width: 912px) {
       .frameContainer{
           width:13rem;
           height:50vh;
       }
  }
  